<!DOCTYPE html>

<html>

<head>
  <?php echo $header ?>
</head>

<body>

  <main>

    <section class="top-banner container-fluid">

      <header>
        <?php echo $navbar ?>
      </header>

      <section class="banner-content text-center">
        <?php echo $bhc ?>
      </section>

    </section>

    <section class="middle-banner container-fluid">
        <?php echo $mbc ?>
    </section>

    <footer class="container-fluid text-center">
      <?php echo $footer ?>
    </footer>

  </main>

</body>

</html>
